*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --dark-background-color: linear-gradient(to right top, #222831, #2b333f, #333e4d, #3d495c, #46556b);
  --primary-theme-color: #222831;
  --secondary-theme-color: #393E46;
  --light-text-color: #DFD0B8;
  --dark-text-color: #948979;
}

/* Fonts */
.syne-mono-regular {
  color: var(--light-text-color);
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
  min-height: 100vh;
  background-image: var(--dark-background-color);
  position: relative;
}

/* Front page */

#startDialog {
  background-color: var(--secondary-theme-color);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 12px;
  position: absolute;
  border: none;
  width: 40vw;
  height: 60vh;
  top: 15%;
  left: 30%;
}

#dialogContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#startDialog h1 {
  text-align: center;
  margin-top: 1rem;
}

#startDialog input[type='text'] {
  border: none;
  border-radius: 8px;
  padding: 0.8rem 2rem;
}

#startDialog button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 2rem;
  background-color: var(--primary-theme-color);
  color: var(--light-text-color);
}

#startDialog button:hover {
  background-color: #303845;
}

::backdrop {
  background-color: var(--primary-theme-color);
}

/* Header */
header {
  width: 100vw;
  display: flex;
  padding: 1rem;
}

header > h1 {
  color: var(--light-text-color);
  text-align: center;
  flex-grow: 1;
  padding-left: 3rem;
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

header > img {
  cursor: pointer;
  width: 2rem;
}

header > img:hover {
  filter: drop-shadow(1px 1px 5px #888);
}


/* Board */

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1px;
  background-color: var(--primary-theme-color);
  width: 30%;
  min-width: 300px;
  height: 60vh;
  max-height: 500px;
  margin: 0 auto;
}

.cells {
  font-size: 5rem;
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: var(--dark-text-color);
  background-color: #D9D9D9;
  border: none;
}

.cells:hover {
  cursor: pointer;
  background-color: #ababab;
  border: none;
}