*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --dark-background-color: linear-gradient(to right top, #222831, #2b333f, #333e4d, #3d495c, #46556b);
  --primary-theme-color: #222831;
  --secondary-theme-color: #393E46;
  --light-text-color: #DFD0B8;
  --dark-text-color: #948979;
}

/* Fonts */
.syne-mono-regular {
  color: var(--light-text-color);
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
  min-height: 100vh;
  background-image: var(--dark-background-color);
  position: relative;
}

/* Front page */

#startDialog,
#endDialog,
#restartDialog {
  background-color: var(--secondary-theme-color);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 12px;
  position: absolute;
  border: none;
  width: 40vw;
  min-width: 300px;
  margin: 0 auto;
}

#startDialog {
  padding: 2rem;
  top: 15%;
}

#dialogContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

#startDialog h1 {
  font-size: 5rem;
  text-align: center;
  margin-top: 1rem;
}

#startDialog input[type='text'] {
  font-size: 2rem;
  border: none;
  border-radius: 8px;
  padding: 1.5rem 2rem;
}

.startBtn {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 1rem 3rem;
  background-color: var(--primary-theme-color);
  color: var(--light-text-color);
}

.startBtn:hover {
  background-color: #303845;
}

::backdrop {
  backdrop-filter: blur(10px);
}

/* Header */
header {
  width: 100vw;
  display: flex;
  padding: 1rem;
}

header > h1 {
  color: var(--light-text-color);
  text-align: center;
  flex-grow: 1;
  padding-left: 3rem;
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

header > img {
  cursor: pointer;
  width: 2rem;
}

header > img:hover {
  filter: drop-shadow(1px 1px 5px #888);
}


/* Board */

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1px;
  background-color: var(--primary-theme-color);
  width: 30%;
  min-width: 300px;
  height: 60vh;
  max-height: 500px;
  margin: 0 auto;
}

.cells {
  font-size: 5rem;
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: var(--dark-text-color);
  background-color: #D9D9D9;
  border: none;
}

.cells:hover {
  cursor: pointer;
  background-color: #ababab;
  border: none;
}

/* End modal */

#endDialog {
  top: 5%;
  padding: 2rem;
}

#endDialogContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

#winnerPlayer {
  font-size: 1.5rem;
  color: var(--light-text-color);
  text-align: center;
}

#playAgainBtn {
  margin: 0 auto;
}

#endDialogContainer > div:nth-child(2) {
  display: flex;
  justify-content: center;
}

#gif {
  margin: 12px 0px;
  border-radius: 4px;
  width: 70%;
}

/* Restart dialog */

#restartDialog {
  margin-top: 30vh;
  padding: 2rem 0;
}

#restartDialogContainer {
  color: var(--light-text-color);
  text-align: center;
}

#restartDialogContainer > div:first-child {
  margin: 2rem 0 5rem 0;
}

#restartDialogContainer > div:last-child {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

#restartBtn,
#cancelBtn {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 2rem;
}

#restartBtn {
  background-color: rgb(20, 79, 20);
}

#restartBtn:hover {
  background-color: rgb(38, 89, 38);
}

#cancelBtn {
  background-color: rgb(180, 24, 24);
}

#cancelBtn:hover {
  background-color: rgb(150, 21, 21);
}